In [2]:
# Install pandas version 2.2.2 silently
!pip install pandas==2.2.2 -q

In [3]:
# Imports here
import pandas as pd

In [4]:
print(pd.__version__)

2.2.2

In [5]:
dict_medidas = {"idade": [15, 18, 25, 25, 40, 55, 58, 60, 80], "altura": [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [6]:
print(dict_medidas)

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80], 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [7]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [10]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas Resumo

### Medidas de Posição

In [12]:
# calcular a média
df_medidas["idade"].mean()

41.77777777777778

In [13]:
# calcular a mediana
df_medidas["idade"].median()

40.0

In [14]:
# calcular a moda
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

In [15]:
# calcular a moda
df_medidas["altura"].mode()

0    174
Name: altura, dtype: int64

### Medidas de Dispersão

In [18]:
# variância 
df_medidas["idade"].var()

509.9444444444444

In [19]:
# desvio padrão 
df_medidas["idade"].std()

22.58194952709895

In [22]:
# Coeficiente de variação - Idade
df_medidas["idade"].std() / df_medidas["idade"].mean() * 100

54.05253876167302

In [23]:
# Coeficiente de variação - Idade
df_medidas["altura"].std() / df_medidas["altura"].mean() * 100

3.4803552812368785